@import url(./fonts.css);
* {
  margin: 0;
  padding: 0;
}
*,
*::after,
*::before {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #fff;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
button,
i {
  border: none;
  cursor: pointer;
  background-color: transparent;
}
input,
textarea {
  outline: none;
}
#loading {
  position: fixed;
  background-color: #000;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
  transition: 0.5s;
}
#loading.loading-none {
  opacity: 0;
  z-index: -1;
}
#backtop {
  position: fixed;
  right: 20px;
  bottom: -60px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 50px;
  font-size: 50px;
  transition: 0.5s;
  z-index: 100000;
}
#backtop .top-img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
}
#backtop.backtop-show {
  bottom: 80px;
}
#navbar.navbar-shrink {
  padding: 20px 0px;
  background-color: #ddd;
  box-shadow: 0px 0px 10px 0px black;
}
#navbar-responsive {
  position: fixed;
  top: 0;
  bottom: 0;
  left: -100%;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  transition: 0.5s;
  z-index: 10000;
}
#navbar-close {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 30px;
  border: none;
  background: transparent;
  z-index: 9999;
}
.close {
  font-size: 30px;
  color: var(--dark);
  transition: all 500ms;
}
.open {
  display: block;
  font-size: 25px;
  color: var(--white);
}
.res-nav__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.res-nav__link {
  color: var(--black);
  font-family: "Poppins500";
  font-size: 16px;
}
.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0px 20px;
  margin: 120px 0px 60px;
  overflow: hidden;
}
.center__title {
  max-width: 360px;
  color: #0b132a;
  text-align: center;
  font-family: "Rubik500";
  font-size: 35px;
  line-height: 50px;
  margin-bottom: 20px;
}
.center__text {
  max-width: 555px;
  color: #4f5665;
  text-align: center;
  font-family: "Rubik400";
  font-size: 16px;
  line-height: 30px;
}

@media(min-width: 980px){
  .open{
    display: none;
  }
}