.test__img{
    width: 100%;
    margin-bottom: 10px;
}
.test__row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin-bottom: 120px;
}
.test__row__img{
    width: 180px;
    height: 60px;
}
